
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <div>
        <a href="" onclick="LoadView('flipkart');">FlipKart</a><br />
        <a href="" onclick="LoadView('amazon');">AmaZon</a><br />
        <a href="" onclick="LoadView('ebay');">EbeY</a><br />
        <a href="" onclick="LoadView('shanpdeal');">ShanpDeal</a><br />
    </div>
    <script>
        function LoadView(data) {
            debugger;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                debugger;
                if (this.readyState == 4 && this.status == 200) {
                    debugger
                    alert("Redirect Successfully!!!");
                    document.getElementById("divContainer").innerHTML = this.responseType;
                }
            }
            xhttp.open("POST", "/Home/LoadView", true);
            xhttp.setRequestHeader('Content-Type', 'application/json');
            xhttp.send(JSON.stringify({ mType: data }));
        }
    </script>
</body>
</html>
