
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To FlipKart</h2>


<table border="1" style="width:100px;">
    <thead>
        <tr>
            <th style="width:10px;overflow:hidden;">EmpId</th>
            <th style="width:10px;overflow:hidden;">EmpName</th>
            <th style="width:10px;overflow:hidden;">EmpSalary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>prava</td>
            <td>10500</td>
        </tr>
    </tbody>
</table>
